POSTTEST 4
- Nama: Risky Kurniawan
- NIM: 2009106050
- Informatika A 2020

In [3]:
import pandas as pd
import numpy as np

import sklearn

# data splitting train dan test
from sklearn.model_selection import train_test_split
# normalisasi
from sklearn.preprocessing import MinMaxScaler
# standarisasi
from sklearn.preprocessing import StandardScaler
# Imputer untuk data cleaning, 
from sklearn.impute import SimpleImputer
# untuk encoding
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('employee_data.csv')
df.head()

,avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,status,tenure
0,221.0,engineering,NaN,0.932868,4.0,NaN,low,0.829896,Left,5.0
1,232.0,support,NaN,NaN,NaN,NaN,low,0.834544,Employed,2.0
2,184.0,sales,NaN,0.788830,3.0,NaN,medium,0.834988,Employed,3.0
3,206.0,sales,NaN,0.575688,4.0,NaN,low,0.424764,Employed,2.0
4,249.0,sales,NaN,0.845217,3.0,NaN,low,0.779043,Employed,3.0

### Data Split

Sebelum mensplit data, Tentukan x dan y.

- x merupakan data frame tanpa label.
- y adalah labelnya.

In [5]:
x = df.drop('status', 1)
y = df.status

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

Data Splitting test nya 30% dari total dataset

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [7]:
# menghitung panjang/jumlah data pada x_test
print(len(x_test))
print(len(x_train))

4275
9974

### Normalisasi

In [8]:
min_max_scaler = MinMaxScaler()
df_copy = df.filter(
  [
  'avg_monthly_hrs', 
  'last_evaluation', 
  'n_projects', 
  'recently_promoted', 
  'satisfaction', 
  'tenure'
  ]
)
scaled_data = min_max_scaler.fit_transform(df_copy)
scaled_data

array([[0.65900383, 0.90182821, 0.5       ,        nan, 0.82279776,
        0.375     ],
       [0.70114943,        nan,        nan,        nan, 0.8276393 ,
        0.        ],
       [0.51724138, 0.69119286, 0.33333333,        nan, 0.82810164,
        0.125     ],
       ...,
       [0.70114943, 0.77716957,        nan,        nan, 0.89469927,
        0.375     ],
       [0.31034483, 0.64491448, 0.5       ,        nan, 0.62633584,
        0.125     ],
       [0.42145594, 0.38396854,        nan,        nan, 0.80087379,
        0.125     ]])

### Standarisasi

In [9]:
standard_scaler = StandardScaler()
df_copy = df.filter(
  [
  'avg_monthly_hrs', 
  'last_evaluation', 
  'n_projects', 
  'recently_promoted', 
  'satisfaction', 
  'tenure'
  ]
)
scaled_data_standard = standard_scaler.fit_transform(df_copy)
scaled_data_standard

array([[ 0.4154474 ,  1.2388591 ,  0.18015888,         nan,  0.83280317,
         1.02877285],
       [ 0.63118137,         nan,         nan,         nan,  0.85135706,
        -1.02468463],
       [-0.31020322,  0.40642745, -0.61828277,         nan,  0.85312884,
        -0.3401988 ],
       ...,
       [ 0.63118137,  0.7462077 ,         nan,         nan,  1.108346  ,
         1.02877285],
       [-1.36926088,  0.22353512,  0.18015888,         nan,  0.07991679,
        -0.3401988 ],
       [-0.80050769, -0.80772416,         nan,         nan,  0.74878561,
        -0.3401988 ]])

### Data Cleaning

Berikut ini adalah jumlah null di dalam dataset dari setiap attribut

In [10]:
df.isna().sum()

avg_monthly_hrs         79
department             708
filed_complaint      12186
last_evaluation       1535
n_projects              67
recently_promoted    13949
salary                   0
satisfaction           182
status                   0
tenure                 185
dtype: int64

- Median untuk nilai Integer.
- Mean untuk nilai Desimal.
- Modus untuk nilai tulisan 

##### Namun terdapat kesalahan dalam df.info(), meskipun kolom tersebut sebenarnya int64, kolom tersebut akan diidentifikasi sebagai float64 karena terdapat nilai null di dalamnya, jadi sebenarnya avg_monthly_hrs, n_project, tenure, dan beberapa attribut lain aslinya berupa int64, jadi itulah alasan saya tetap menggunakan mode median untuk nilai tsb.

In [11]:
medianImputer = SimpleImputer(strategy='median')
meanImputer = SimpleImputer(strategy='mean')
modusImputer = SimpleImputer(strategy='most_frequent')
df["avg_monthly_hrs"] = medianImputer.fit_transform(df[["avg_monthly_hrs"]])
df["department"] = modusImputer.fit_transform(df[["department"]])
df["filed_complaint"] = medianImputer.fit_transform(df[["filed_complaint"]])
df["last_evaluation"] = meanImputer.fit_transform(df[["last_evaluation"]])
df["n_projects"] = medianImputer.fit_transform(df[["n_projects"]])
df["recently_promoted"] = medianImputer.fit_transform(df[["recently_promoted"]])
df["satisfaction"] = meanImputer.fit_transform(df[["satisfaction"]])
df["tenure"] = medianImputer.fit_transform(df[["tenure"]])

berikut ini setelah data di cleaning

In [12]:
df.isna().sum()

avg_monthly_hrs      0
department           0
filed_complaint      0
last_evaluation      0
n_projects           0
recently_promoted    0
salary               0
satisfaction         0
status               0
tenure               0
dtype: int64

Bersihkan data duplikat

In [13]:
df[df.duplicated()].sum()

avg_monthly_hrs                                                 6449.0
department           supportadminmarketingsalessalessalessalestempt...
filed_complaint                                                   48.0
last_evaluation                                               34.63956
n_projects                                                       109.0
recently_promoted                                                 48.0
salary               mediumlowmediumlowlowhighmediumlowlowlowmedium...
satisfaction                                                 29.320551
status               EmployedEmployedEmployedLeftLeftEmployedEmploy...
tenure                                                           141.0
dtype: object

In [14]:
df.drop_duplicates(inplace=True)

berikut setelah data duplikat dibersihkan

In [15]:
df[df.duplicated()].sum()

avg_monthly_hrs      0.0
department           0.0
filed_complaint      0.0
last_evaluation      0.0
n_projects           0.0
recently_promoted    0.0
salary               0.0
satisfaction         0.0
status               0.0
tenure               0.0
dtype: float64

mengubah tipe data dari attribut

before

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14201 entries, 0 to 14248
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_monthly_hrs    14201 non-null  float64
 1   department         14201 non-null  object
 2   filed_complaint    14201 non-null  float64
 3   last_evaluation    14201 non-null  float64
 4   n_projects         14201 non-null  float64
 5   recently_promoted  14201 non-null  float64
 6   salary             14201 non-null  object
 7   satisfaction       14201 non-null  float64
 8   status             14201 non-null  object
 9   tenure             14201 non-null  float64
dtypes: float64(7), object(3)
memory usage: 1.2+ MB

In [17]:
df['avg_monthly_hrs'] = df['avg_monthly_hrs'].astype('int64')
df['tenure'] = df['tenure'].astype('int64')

after

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14201 entries, 0 to 14248
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_monthly_hrs    14201 non-null  int64
 1   department         14201 non-null  object
 2   filed_complaint    14201 non-null  float64
 3   last_evaluation    14201 non-null  float64
 4   n_projects         14201 non-null  float64
 5   recently_promoted  14201 non-null  float64
 6   salary             14201 non-null  object
 7   satisfaction       14201 non-null  float64
 8   status             14201 non-null  object
 9   tenure             14201 non-null  int64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.2+ MB

### Encoding

In [ ]:
one_hot_encoder = OneHotEncoder(sparse=False)

In [23]:
departmentEnc = one_hot_encoder.fit_transform(df[["department"]])

encoded_df_department = pd.DataFrame(departmentEnc)
df_department_encoded = encoded_df_department.join(df['department'])
df_department_encoded.head()

     0    1    2    3    4    5    6    7    8    9   10   11   department
0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  engineering
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0      support
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0        sales
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0        sales
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0        sales

In [28]:
salaryEnc = one_hot_encoder.fit_transform(df[["salary"]])

encoded_df_salary = pd.DataFrame(salaryEnc)
df_salary_encoded = encoded_df_salary.join(df['salary'])
df_salary_encoded.head()

     0    1    2  salary
0  0.0  1.0  0.0     low
1  0.0  1.0  0.0     low
2  0.0  0.0  1.0  medium
3  0.0  1.0  0.0     low
4  0.0  1.0  0.0     low

In [29]:
statusEnc = one_hot_encoder.fit_transform(df[["status"]])

encoded_df_status = pd.DataFrame(statusEnc)
df_status_encoded = encoded_df_status.join(df['status'])
df_status_encoded.head()

     0    1    status
0  0.0  1.0      Left
1  1.0  0.0  Employed
2  1.0  0.0  Employed
3  1.0  0.0  Employed
4  1.0  0.0  Employed